<style type="text/css">
.elButton{margin-right:auto;margin-left:auto;color:#FFF;font-weight:bold;display:inline-block;-ms-transform:all .2s ease-in-out;-webkit-transform:all .2s ease-in-out;transform:all .2s ease-in-out;text-align:center !important;text-decoration:none !important}
.elButton:hover{text-decoration:none;color:inherit}
.elButton:visited,.elButton:active,.elButton:hover{text-decoration:none !important}
.elButton{padding:13px 35px}
.elButtonPadding2{padding:9px 25px}
.elButtonPadding3{padding:19px 40px}
.elButton .fa_appended{margin-left:10px}
.elButton .fa_prepended{margin-right:10px}
.elButtonSize5{font-size:13px}
.elButtonSize6{font-size:16px}
.elButtonSize7{font-size:24px}
.elButtonSize1{font-size:18px}
.elButtonSize2{font-size:21px}
.elButtonSize3{font-size:27px}
.elButtonSize4{font-size:37px}
.elButtonSub,.elButtonSub1,.elButtonSub2{display:block;opacity:0.7;font-weight:normal}
.elButtonSize1 .elButtonSub,.elButtonSize1 .elButtonSub1,.elButtonSize1 .elButtonSub2{font-size:14px}
.elButtonSize2 .elButtonSub,.elButtonSize2 .elButtonSub1,.elButtonSize2 .elButtonSub2{font-size:16px}
.elButtonSize3 .elButtonSub,.elButtonSize3 .elButtonSub1,.elButtonSize3 .elButtonSub2{font-size:18px}
.elButtonSize4 .elButtonSub{font-size:21px}
.elButtonFull{display:block;text-align:center;width:100%}
.elButtonInline{display:inline-block;margin-right:25px}
.elButtonRollover1:hover{-ms-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1)}
.elButtonRollover2:hover{opacity:.7}
.elButtonIcon1 .elButtonMain:before{font-family:FontAwesome;content:"\f061";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon2 .elButtonMain:before{font-family:FontAwesome;content:"\f063";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon3 .elButtonMain:before{font-family:FontAwesome;margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon4 .elButtonMain:before{font-family:FontAwesome;content:"\f078";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon5 .elButtonMain:before{font-family:FontAwesome;content:"\f067";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon6 .elButtonMain:before{font-family:FontAwesome;content:"\f00c";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon7 .elButtonMain:before{font-family:FontAwesome;content:"\f14a";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon8 .elButtonMain:before{font-family:FontAwesome;content:"\f07a";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon9 .elButtonMain:before{font-family:FontAwesome;content:"\f099";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon10 .elButtonMain:before{font-family:FontAwesome;content:"\f16a";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon11 .elButtonMain:before{font-family:FontAwesome;content:"\f082";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon12 .elButtonMain:before{font-family:FontAwesome;content:"\f02d";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon13 .elButtonMain:before{font-family:FontAwesome;content:"\f073";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon14 .elButtonMain:before{font-family:FontAwesome;content:"\f133";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon15 .elButtonMain:before{font-family:FontAwesome;content:"\f1c1";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon16 .elButtonMain:before{font-family:FontAwesome;content:"\f08a";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon17 .elButtonMain:before{font-family:FontAwesome;content:"\f079";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon18 .elButtonMain:before{font-family:FontAwesome;content:"\f1cd";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon19 .elButtonMain:before{font-family:FontAwesome;content:"\f130";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon20 .elButtonMain:before{font-family:FontAwesome;content:"\f1c6";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon21 .elButtonMain:before{font-family:FontAwesome;content:"\f0f6";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon22 .elButtonMain:before{font-family:FontAwesome;content:"\f1e0";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon23 .elButtonMain:before{font-family:FontAwesome;content:"\f072";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon24 .elButtonMain:before{font-family:FontAwesome;content:"\f09d";margin-right:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon1.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon2.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon3.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon4.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon5.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon6.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon7.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon8.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon9.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon10.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon10.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon11.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon12.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon13.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon14.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon15.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon16.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon17.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon18.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon19.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon20.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon21.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon22.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon23.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon24.elButtonRightIcon .elButtonMain:before{content:'';margin-right:0}
.elButtonIcon1.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f061";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon2.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f063";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon3.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f054";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon4.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f078";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon5.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f067";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon6.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f00c";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon7.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f14a";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon8.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f07a";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon9.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f099";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon10.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f16a";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon11.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f082";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon12.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f02d";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon13.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f073";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon14.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f133";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon15.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f1c1";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon16.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f08a";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon17.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f079";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon18.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f1cd";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon19.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f130";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon20.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f1c6";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon21.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f0f6";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon22.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f1e0";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon23.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f072";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonIcon24.elButtonRightIcon .elButtonMain:after{font-family:FontAwesome;content:"\f09d";margin-left:15px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.elButtonColor1{background-color:#0092D5}
.elButtonColor1:hover{background-color:#0c69a8}
.elButtonColor2{background-color:#8AB743}
.elButtonColor2:hover{background-color:#658f2c}
.elButtonColor3{background-color:#FDBE4B;text-shadow:1px 1px 0px rgba(255,255,255,0.2)}
.elButtonColor3:hover{background-color:#fb983b}
.elButtonColor4{background-color:#EA5032}
.elButtonColor4:hover{background-color:#d23524}
.elButtonColor5{background-color:#212121}
.elButtonBottomBorder{border-bottom:3px solid rgba(0,0,0,0.2);border-left:none !important;border-right:none !important}
.elButtonShadow1{-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 5px rgba(0,0,0,0.2);box-shadow:0 1px 5px rgba(0,0,0,0.2)}
.elButtonShadow2{-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.4);-moz-box-shadow:0 1px 5px rgba(0,0,0,0.4);box-shadow:0 1px 5px rgba(0,0,0,0.4)}
.elButtonShadow3{-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.7);-moz-box-shadow:0 1px 5px rgba(0,0,0,0.7);box-shadow:0 1px 5px rgba(0,0,0,0.7)}
.elButtonShadow4{-webkit-box-shadow:0 8px 1px rgba(0,0,0,0.1);-moz-box-shadow:0 8px 1px rgba(0,0,0,0.1);box-shadow:0 8px 1px rgba(0,0,0,0.1)}
.elButtonShadow5{-webkit-box-shadow:0 0 25px rgba(0,0,0,0.2);-moz-box-shadow:0 0 25px rgba(0,0,0,0.2);box-shadow:0 0 25px rgba(0,0,0,0.2),0 0 15px rgba(0,0,0,0.2),0 0 3px rgba(0,0,0,0.4)}
.elButtonShadow6{-webkit-box-shadow:0 0 25px rgba(0,0,0,0.2);-moz-box-shadow:0 0 25px rgba(0,0,0,0.2);box-shadow:0 0 25px rgba(0,0,0,0.4),0 0 15px rgba(255,255,255,0.2),0 0 3px rgba(255,255,255,0.4)}
.elButtonGradient{-webkit-box-shadow:inset 0 0 0 2px rgba(255,255,255,0.2);-moz-box-shadow:inset 0 0 0 2px rgba(255,255,255,0.2);box-shadow:inset 0 0 0 2px rgba(255,255,255,0.2);border:1px solid rgba(0,0,0,0.1)}
.elButtonShadow1.elButtonGradient{-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.2),inset 0 0 0 2px rgba(255,255,255,0.2);-moz-box-shadow:0 1px 5px rgba(0,0,0,0.2),inset 0 0 0 2px rgba(255,255,255,0.2);box-shadow:0 1px 5px rgba(0,0,0,0.2),inset 0 0 0 2px rgba(255,255,255,0.2)}
.elButtonShadow2.elButtonGradient{-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.4),inset 0 0 0 2px rgba(255,255,255,0.2);-moz-box-shadow:0 1px 5px rgba(0,0,0,0.4),inset 0 0 0 2px rgba(255,255,255,0.2);box-shadow:0 1px 5px rgba(0,0,0,0.4),inset 0 0 0 2px rgba(255,255,255,0.2)}
.elButtonShadow3.elButtonGradient{-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.7),inset 0 0 0 2px rgba(255,255,255,0.2);-moz-box-shadow:0 1px 5px rgba(0,0,0,0.7),inset 0 0 0 2px rgba(255,255,255,0.2);box-shadow:0 1px 5px rgba(0,0,0,0.7),inset 0 0 0 2px rgba(255,255,255,0.2)}
.elButtonColor1.elButtonBorder{border:3px solid #0092D5;color:#0092D5;background-color:transparent !important}
.elButtonColor1.elButtonBorder:hover{border:3px solid rgba(0,0,0,0.15);color:#FFF;background-color:#0092D5 !important}
.elButtonColor2.elButtonBorder{border:3px solid #8AB743;color:#8AB743;background-color:transparent !important}
.elButtonColor2.elButtonBorder:hover{border:3px solid rgba(0,0,0,0.15);color:#FFF;background-color:#8AB743 !important}
.elButtonColor3.elButtonBorder{border:3px solid #FCCC1A;color:#FCCC1A;background-color:transparent !important}
.elButtonColor3.elButtonBorder:hover{border:3px solid rgba(0,0,0,0.15);color:#FFF;background-color:#FCCC1A !important}
.elButtonColor4.elButtonBorder{border:3px solid #EA5032;color:#EA5032;background-color:transparent !important}
.hsSize11{font-size:11px}
.hsSize12{font-size:12px}
.hsSize0{font-size:14px}
.hsSize1{font-size:16px}
.hsSize18{font-size:18px}
.hsSize2{font-size:24px}
.hsSize27{font-size:27px}
.hsSize3{font-size:32px}
.hsSize37{font-size:37px}
.hsSize4{font-size:48px}
.hsSize5{font-size:62px}
.hsSize72{font-size:72px}
.hsSize21{font-size:21px}
.hsSize94{font-size:94px}
.hsSize124{font-size:124px}
.lh0{line-height:.8em}
.lh1{line-height:1em}
.lh2{line-height:1.5em}
.lh4{line-height:1.3em}
.lh6{line-height:1.4em}
.lh3{line-height:normal}
.hsBorderBottomSolid{border-bottom:2px solid rgba(0,0,0,0.1)}
.hsBorderBottomDashed{border-bottom:2px dashed rgba(0,0,0,0.1)}
.hsBorderTopSolid{border-top:2px solid rgba(0,0,0,0.1)}
.hsBorderTopDashed{border-top:2px dashed rgba(0,0,0,0.1)}
.hsBorderSolid{border-top:2px solid rgba(0,0,0,0.1);border-bottom:2px solid rgba(0,0,0,0.1)}
.hsBorderDashed{border-top:2px dashed rgba(0,0,0,0.1);border-bottom:2px dashed rgba(0,0,0,0.1)}
.de5pxPadding{padding:5px}
.de10pxPadding{padding:10px}
.de15pxPadding{padding:15px}
.de20pxPadding{padding:20px}
.de25pxPadding{padding:25px}
.deUppercase{text-transform:uppercase}
#col-left-151{float:left;margin-right:100px;margin-left:20%;}
#col-right-134{float:left;}
.elButtonTxtColor2{text-shadow:1px 1px 0px rgba(0,0,0,0.2)}
.elButtonTxtColor3{text-shadow:-1px -1px 0px rgba(255,255,255,0.1)}
.elButtonTxtColor4{text-shadow:3px 2px 1px rgba(0,0,0,0.2)}
.elButtonTxtColor5{text-shadow:0 0 8px rgba(0,0,0,0.8)}
.elButtonSubtle{border:1px solid rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);border-radius:4px}
.elButtonRounded{border:1px solid rgba(0,0,0,0.13);border-bottom:4px solid rgba(0,0,0,0.13);box-shadow:inset 0 1px 1px 0 rgba(255,255,255,0.22);border-radius:6px}
.elButtonRounded:hover{box-shadow:inset 0 2px 2px 0 rgba(255,255,255,0.22),0 233px 233px 0 rgba(255,255,255,0.12) inset}
.elButtonPill{border:1px solid rgba(0,0,0,0.13);border-bottom:3px solid rgba(0,0,0,0.13);box-shadow:inset 0 -1px -1px 0 rgba(0,0,0,0.22);border-radius:134px}
.elButtonPill:hover{box-shadow:0 -133px 133px 0 rgba(255,255,255,0.12) inset}
.elButtonSquare{border:1px solid rgba(0,0,0,0.13);-moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);border-radius:0}
.elButtonSquare:hover{box-shadow:0 -133px 133px 0 rgba(255,255,255,0.2) inset}
.elButtonWhiteBorder{border:2px solid #fff;-moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);border-radius:0}
.elButtonWhiteBorder:hover{box-shadow:0 -133px 133px 0 rgba(255,255,255,0.2) inset}
.elButtonBlackBorder{border:2px solid #000;-moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);border-radius:0}
.elButtonBlackBorder:hover{box-shadow:0 -133px 133px 0 rgba(255,255,255,0.2) inset}
.de5pxPadding{padding:5px}
.de10pxPadding{padding:10px}
.de15pxPadding{padding:15px}
.de20pxPadding{padding:20px}
.de25pxPadding{padding:25px}
.deUppercase{text-transform:uppercase}
#col-left-151{float:left;margin-right:100px;margin-left:20%;}
#col-right-134{float:left;}
.elButtonTxtColor2{text-shadow:1px 1px 0px rgba(0,0,0,0.2)}
.elButtonTxtColor3{text-shadow:-1px -1px 0px rgba(255,255,255,0.1)}
.elButtonTxtColor4{text-shadow:3px 2px 1px rgba(0,0,0,0.2)}
.elButtonTxtColor5{text-shadow:0 0 8px rgba(0,0,0,0.8)}
.elButtonSubtle{border:1px solid rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);border-radius:4px}
.elButtonRounded{border:1px solid rgba(0,0,0,0.13);border-bottom:4px solid rgba(0,0,0,0.13);box-shadow:inset 0 1px 1px 0 rgba(255,255,255,0.22);border-radius:6px}
.elButtonRounded:hover{box-shadow:inset 0 2px 2px 0 rgba(255,255,255,0.22),0 233px 233px 0 rgba(255,255,255,0.12) inset}
.elButtonPill{border:1px solid rgba(0,0,0,0.13);border-bottom:3px solid rgba(0,0,0,0.13);box-shadow:inset 0 -1px -1px 0 rgba(0,0,0,0.22);border-radius:134px}
.elButtonPill:hover{box-shadow:0 -133px 133px 0 rgba(255,255,255,0.12) inset}
.elButtonSquare{border:1px solid rgba(0,0,0,0.13);-moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);border-radius:0}
.elButtonSquare:hover{box-shadow:0 -133px 133px 0 rgba(255,255,255,0.2) inset}
.elButtonWhiteBorder{border:2px solid #fff;-moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);border-radius:0}
.elButtonWhiteBorder:hover{box-shadow:0 -133px 133px 0 rgba(255,255,255,0.2) inset}
.elButtonBlackBorder{border:2px solid #000;-moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.3);border-radius:0}
.elButtonBlackBorder:hover{box-shadow:0 -133px 133px 0 rgba(255,255,255,0.2) inset}
</style>